:root {
  --green: #0CA86B;
  --pink: #C43FB2
; }

body {
  font-family: 'Oswald', sans-serif; }

a {
  color: var(--pink);
  text-decoration: none; }

a:hover {
  color: var(--green); }

.verde {
  color: var(--green); }

.rosa {
  color: var(--pink); }

/* Header */
.header {
  background: var(--green);
  height: 100px; }
  .header img {
    width: 120px;
    height: auto; }

/* Banner */
.banner {
  background: url(../img/fondo_portada.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px !important;
  padding-bottom: 150px !important; }
  .banner h2 {
    font-weight: 300; }

@media only screen and (max-width: 640px) {
  .montos {
    width: 100%;
    max-height: 340px !important; } }

@media only screen and (max-width: 640px) {
  .comite {
    width: 100%;
    max-height: 210px !important; } }

.donar {
  background: url(../img/fondo_ayuda.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px !important;
  padding-bottom: 200px !important; }
  @media only screen and (max-width: 640px) {
    .donar {
      padding-top: 100px !important;
      padding-bottom: 100px !important; } }
  @media only screen and (max-width: 640px) {
    .donar h3 {
      padding-top: 50px; } }
  @media only screen and (max-width: 640px) {
    .donar .dona--img {
      justify-content: flex-start !important; } }
  .donar img {
    max-width: 240px;
    margin-right: 100px; }
    @media only screen and (max-width: 640px) {
      .donar img {
        margin: 0; } }

.footer {
  background: #191919; }

.slick-dots li button::before {
  font-size: 16px !important;
  opacity: .75; }

.slick-prev, .slick-next {
  height: 50px; }

.slick-prev::before {
  content: url(../img/flecha_ant.png); }

.slick-next::before {
  content: url(../img/flecha_sig.png); }

.slick-prev::before, .slick-next::before {
  color: #000 !important; }

.borderColor {
  border-left: solid 2px #DB8BD1;
  border-right: solid 2px #DB8BD1; }

.borderLeft {
  border-left: solid 2px #DB8BD1; }
  @media only screen and (max-width: 640px) {
    .borderLeft {
      border-right: solid 2px #DB8BD1;
      margin-bottom: 3rem !important; } }

.borderWhite {
  border-left: solid 2px #047465;
  border-right: solid 2px #047465; }

.banco__alimento {
  bottom: -50px;
  right: -100px; }
  @media only screen and (max-width: 640px) {
    .banco__alimento {
      bottom: auto;
      right: auto;
      display: block;
      text-align: center;
      position: relative !important; }
      .banco__alimento img {
        max-width: 120px; } }

.lb-data .lb-number {
  display: none !important; }

.lb-dataContainer {
  position: absolute;
  top: 1rem;
  right: 20%; }

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: ease all .5s;
  margin: 0 15px; }
  .overlay:hover {
    opacity: 1; }
  @media only screen and (max-width: 640px) {
    .overlay {
      margin: 0; } }

@media only screen and (max-width: 640px) {
  .galeria {
    padding: 5px; } }
